
.first
{
    display: inline-block;
}
.thumbnails
{
    width: 100%;
}
.thumbnail-1
{
    margin-bottom: 7px;
    position: relative;
}
.search
{
    display: block;
    font-size: 20px;
} 
.title
{
    margin-top: 0;
    width: 100%;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 9.5px;
}

.channel
{
    vertical-align: top;
    width: 48px;
    display: inline-block;
}
.info
{
    display: flex;
    flex: 1;
    display: inline-block;
    margin-left: -2px;
}
.profile
{
    border-radius: 50px;
    width: 36px;
    height: 37px;
}
.sub,.view
{
    font-size: 12px;
    color: rgb(96, 96, 96);
}
.view
{
    margin-top: 4px;
}
.grid
{
    display: grid;
    column-gap: 16px;
    row-gap: 40px;
}
@media(max-width:750px)
{
    .grid
    {
        grid-template-columns: 1fr 1fr;
    }
}
@media(min-width:751px) and (max-width:999px)
{
    .grid
    {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media(min-width:1000px)
{
    .grid
    {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
.video_info_grid
{
    display: grid;
    grid-template-columns: 50px 1fr;
}
.video-time
{
    font-family: roboto,arial;
    font-weight: 500;
    background-color: black;
    color: white;
    position: absolute;
    bottom: 10px;
    right: 5px;
    border-radius: 3px;
    padding: 4px;
    font-size: 12px;
}

